<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="miprimeraapp.android.teaching.com.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="androandrormission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name= "android.support.v4.content.FileProvider"
            android:authorities= "miprimeraapp.android.teaching.com.myapplication"
            android:exported= "false"
            android:grantUriPermissions="true">
            <meta-data
                android:name= "android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
        </provider>



        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/wow1"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action
                    android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/wow1" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".SecondActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".ListActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />
        <activity android:name=".FragmenTestActivity" />
        <activity
            android:name=".GameDetailActivity"
            android:parentActivityName=".ListActivity" />
        <activity android:name=".WebViewActivity" />

        <receiver
            android:name=".MyConnectivtyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONECTIVITY_CHANGE"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>